.container{
    
        background: #ff7f69; 
  background: -webkit-linear-gradient( 
    to bottom,
    #c7b8ae,
    #ff7f69
  );
  background: linear-gradient(
    to bottom,
    #c7b8ae,
    #de6262
  ); 

    
}